body {
  background: #FFF;
  color: #000;
  font-family: Helvetica, sans-serif;
  font-size: 11pt;
  margin-left: 50px;
}

.column {
  float: left;
  clear: none;
  width: 45%;
  min-width: 500px;
  margin-right: 50px;
}

li {
}

h1 {
  color: #cb4b16;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  color: #b58900;
  text-transform: uppercase;
}

h3 {
  color: #268bd2;
  font-size: 12pt;
}

h1, h2, h3, .info {
  font-family: 'Stint Ultra Expanded', sans-serif;
  margin-bottom: 0;
  padding-bottom: 0;
}

p {
  margin-top: 0;
}

a {
  color: #719e07;
  text-decoration: none;
}

a:hover {
  color: #859900;
}

.info {
  -webkit-transform: skewY(-10deg);
  width: 100%;
  text-align: center;
  margin: 150px 0 100px;
}

.info p {
  margin: 0;
  padding: 0;
}
