body {
  background: #FFF;
  color: #000;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 11pt;
  margin-left: 50px;
}

.column {
  float: left;
  clear: none;
  width: 45%;
  min-width: 500px;
  margin-right: 50px;
}

li {
  list-style: square;
}

h1 {
  margin: 0;
}

h2 {
  text-transform: uppercase;
}

h3 {
  font-size: 12pt;
}

h1, h2, h3, .info {
  margin-bottom: 0;
  padding-bottom: 0;
}

p {
  margin: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 30px;
}

a {
  color: #AAA;
  text-decoration: none;
}

a:hover {
  color: #268bd2;
}

